
* { 
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';	
}


body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  background: url("/image/bg_body.png") repeat center;
  -webkit-background-size: cover;
  background-size: contain;
  background-repeat: repeat;
  height: calc(680vh + 100px);
  width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar{
	display: none;
}

/* 상단 고정 메뉴 */
#top_div {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	background-color: rgba(255,255,255,.75);
	z-index: 9999;
	
}
/* 상단 좌측 뒤로가기 버튼 div */
#top_div_back_btn {
	width: 5%;
	height: 100%;
	display: inline-block;
	float: left;
	z-index: 999;
}
/* 상단 좌측 뒤로가기 버튼 이미지 */
#back_img {
	width: 100%;
	height: 100%;
  	-webkit-background-size: cover;
  	background-position: center center;
  	object-fit: cover;
}
#back_img:hover {
	filter: drop-shadow(5px 5px 5px #000);
	transition : all 0.5 2s 0s;
}
/* #back_img:active {
	box-shadow : 2px 2px 2px 2px #666666 inset;
	transition : all 1 2s 0s;
} */

/* 상단 제목이 보이는 자리 */
#top_div_text_area {
	width: 95%;
	height: 100%;
	display: inline-block;
	text-align: center;
	float: left;
	vertical-align: middle;
}
#top_div_text_area h1 {
	display: inline-block;
	height: 100%;
}
#indicator {
	position : fixed;
	z-index : -1;
	top : 0;
	height : 100px;
	width : 0;
}
/* content */
#div1 {
	width: 100%;
	height: 150vh;
	background-color : rgba(0,0,0,.55);
	display: block;
	background: linear-gradient(to bottom, rgba(133, 222, 255,.55), rgba(182, 245, 250,.55));
}
/* div1 content font&style */
#div1_content {
	width: 100%;
	height: 40%;
	padding-top: 130px;
	margin-bottom: 30px;
}
#div1_content_left {
	display: inline-block;
	width: 50%;
	height: 100%;
	top:20%;
	float: left;
	color: #386778;
}
#div1_content_right {
	overflow : hidden;
	display: inline-block;
	width: 30%;
	height: 100%;
	top:20%;
	float: left;
}
#div1_content_right img {
	width: 100%;
	height: 100%;
	background: linear-gradient(
				to bottom,
				rgba(0,0,0,0) 10%,
				rgba(0,0,0,0.15) 30%,
				rgba(0,0,0,0.35) 50%,
				rgba(0,0,0,0.5) 75%,
				rgba(0,0,0,0.7) 100%,
				), url("/image/div1_content_pic01.jpg");
} 
#div1_content *{
	padding-left: 5%;
	font-size : 20px;
}
#div1_content h1{
	font-size: 80px;
}
#div1_content blockquote{
	font-weight: 700;
	display: inline-block;
}
#quotation_1 {
	animation: fadein 15s;
    -moz-animation: fadein 15s;/* 글자 페이드인 */
    /* Firefox */
    -webkit-animation: fadein 15s;
    /* Safari and Chrome */
    -o-animation: fadein 15s;
}
#quotation_2 {
	margin-left: 200px;
	animation: fadein 15s;
    -moz-animation: fadein 15s;
    /* Firefox */
    -webkit-animation: fadein 15s;
    /* Safari and Chrome */
    -o-animation: fadein 15s;
}
#quotation_3 {
	margin-left: 300px;
	animation: fadein 15s;
    -moz-animation: fadein 15s;
    /* Firefox */
    -webkit-animation: fadein 15s;
    /* Safari and Chrome */
    -o-animation: fadein 15s;
}
#div1_content p {
	display: block;
	animation: fadein 15s;
    -moz-animation: fadein 15s;
    /* Firefox */
    -webkit-animation: fadein 15s;
    /* Safari and Chrome */
    -o-animation: fadein 15s;
}



#div1_1 {
	width: 100%;
	height: 30%;
	background : linear-gradient(to left, rgb(255,255,255), rgb(33, 153, 196));
	position: relative;
	display: flex;
}

#div1_1_left {
	display: inline-block;
	width: 40%;
	height: 100%;
	float: left;
	display: flex;
}
#div1_1_content_pic {
	width: 90%;
	height: 90%;
	display: inline-block;
	margin: auto;
}
#div1_1_right {
	display: inline-block;
	width: 50%;
	height: 80%;
	float: left;
	text-align: left;
	margin : auto;
	margin-left: 70px;
}
#div1_1_right *{
	display: inline-block;
}

#div1_2 {
	width: 100%;
	height: 17.2%;
	text-align: center;
	color: white;
	vertical-align: text-bottom;
}

#div1_2 h3{
}

#div2 {
	width: 100%;
	height: 300vh;
	background: linear-gradient(to bottom, rgba(182, 245, 250,.55), rgba(117, 217, 224,.55));
	padding: 3% 0 3% 0;
}

#div2 *{
	text-align: center;
}

#div2_1 {width: 800px;height: 200px;background : black;margin: 3% 0% 3% 15%;box-shadow: 5px 5px 5px black;}
#div2_2 {background : white;margin: 3% 0% 3% 48%;width: 800px;height: 200px;box-shadow: 5px 5px 5px black;}
#div2_3 {background : black;margin: 3% 0% 3% 15%;width: 800px;height: 200px;box-shadow: 5px 5px 5px black;}
#div2_4 {background : white;margin: 3% 0% 3% 48%;width: 800px;height: 200px;box-shadow: 5px 5px 5px black;}
#div2_5 {background : black;margin: 3% 0% 3% 15%;width: 800px;height: 200px;box-shadow: 5px 5px 5px black;}
#div2_6 {background : white;margin: 3% 0% 3% 48%;width: 800px;height: 200px;box-shadow: 5px 5px 5px black;}
#div2_7 {background : black;margin: 3% 0% 3% 15%;width: 800px;height: 200px;box-shadow: 5px 5px 5px black;}
#div2_8 {background : white;margin: 3% 0% 3% 48%;width: 800px;height: 200px;box-shadow: 5px 5px 5px black;}
#div2_9 {background : black;margin: 3% 0% 3% 15%;width: 800px;height: 200px;box-shadow: 5px 5px 5px black;}
#div2_10 {background : white;margin: 3% 0% 3% 48%;width: 800px;height: 200px;box-shadow: 5px 5px 5px black;}

#div2_1_1{height: 100%;width: 30%;display: inline-block;background: white;float: left;}
#div2_2_1{height: 100%;width: 30%;display: inline-block;background: white;float: left;}
#div2_3_1{height: 100%;width: 30%;display: inline-block;background: white;float: left;}
#div2_4_1{height: 100%;width: 30%;display: inline-block;background: white;float: left;}
#div2_5_1{height: 100%;width: 30%;display: inline-block;background: white;float: left;}
#div2_6_1{height: 100%;width: 30%;display: inline-block;background: white;float: left;}
#div2_7_1{height: 100%;width: 30%;display: inline-block;background: white;float: left;}
#div2_8_1{height: 100%;width: 30%;display: inline-block;background: white;float: left;}
#div2_9_1{height: 100%;width: 30%;display: inline-block;background: white;float: left;}
#div2_10_1{height: 100%;width: 30%;display: inline-block;background: white;float: left;}

#div2_1_2{height: 100%;width: 70%;display: inline-block;background: #3b3b3b;float: left;color:white;text-shadow: 2px 2px 2px black;}
#div2_2_2{height: 100%;width: 70%;display: inline-block;background: #3b3b3b;float: left;color:white;}
#div2_3_2{height: 100%;width: 70%;display: inline-block;background: #3b3b3b;float: left;color:white;}
#div2_4_2{height: 100%;width: 70%;display: inline-block;background: #3b3b3b;float: left;color:white;}
#div2_5_2{height: 100%;width: 70%;display: inline-block;background: #3b3b3b;float: left;color:white;}
#div2_6_2{height: 100%;width: 70%;display: inline-block;background: #3b3b3b;float: left;color:white;}
#div2_7_2{height: 100%;width: 70%;display: inline-block;background: #3b3b3b;float: left;color:white;}
#div2_8_2{height: 100%;width: 70%;display: inline-block;background: #3b3b3b;float: left;color:white;}
#div2_9_2{height: 100%;width: 70%;display: inline-block;background: #3b3b3b;float: left;color:white;}
#div2_10_2{height: 100%;width: 70%;display: inline-block;background: #3b3b3b;float: left;color:white;}

#div3 {
	width : 100%;
	height: 230vh;
	background: linear-gradient(to bottom, rgba(117, 217, 224,.55), rgba(255,255,255,.55));
	padding: 3% 0px 3% 0px;
	color: white;
	overflow: hidden;
}

#div3_1 {
	width: 100%;
	height: 30%;
	text-align: center;
}

#div3_2 {
	width: 100%;
	height: 28%;
}

#div3_2 input[id*="slide"] {
	display: none
}

#div3_2 input[id="slide01"]:checked ~ #div3_2_1_content #div3_ul > li{transform:translateX(0%);}
#div3_2 input[id="slide02"]:checked ~ #div3_2_1_content #div3_ul > li{transform:translateX(-100%);}
#div3_2 input[id="slide03"]:checked ~ #div3_2_1_content #div3_ul > li{transform:translateX(-200%);}

/* #div3_2 #controller_div [id=*"controller"]{display: none;}
 
#controller01{display: none;}
#controller01{display: none;}
#controller03{display: none;}
#div3_2 input[id="slide01"]:checked ~ #div3_2_1_content #div3_ul #controller_div #controller01{display: block;}
#div3_2 input[id="slide01"]:checked ~ #div3_2_1_content #div3_ul #controller_div #controller02{display: block;}
#div3_2 input[id="slide01"]:checked ~ #div3_2_1_content #div3_ul #controller_div #controller03{display: block;} */

#right,#left {
	position: absolute;
	z-index: 10;
	top: 50%;
	transform:translateY(-50%);
	padding: 50px;
	cursor: pointer;
}


#right {
	right: 30px;
	transform: rotate(360deg);
	background: url('/image/about_arrow.png') center center / 50% no-repeat;
}
#left {
	left: 25px;
	transform: rotate(180deg);
	background: url('/image/about_arrow.png') center center / 50% no-repeat;
	
}
#div3_2_1_content {
	margin : 0 auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#div3_ul {
	white-space: nowrap;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background:  
}

#div3_ul > li {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	transition:all .5s;
}
#div3_ul > li:nth-child(1) {
	background: linear-gradient(to right, rgba(255, 255, 255,.55), rgba(78, 230, 119,.55));
}
#div3_ul > li:nth-child(2) {
	background: linear-gradient(to right, rgba(78, 230, 119,.55), rgba(176, 60, 61,.55));
}
#div3_ul > li:nth-child(3) {
	background: linear-gradient(to right, rgba(176, 60, 61,.55), rgba(255, 255, 255,.55));
}
	
#div3_li_img{
	width: 30%;
	height : 100%;
	display: flex;
	float: left;
	margin: 0 2% 0 8%;
	align-items: center;
}
#div3_li_img_center {
	height : 80%;
	width: 100%;
	margin: 0 auto;
	
}
#div3_li_img img{
	width: 100%;
	height: 100%;
}

#div3_li_content {
	display : flex;
	text-align : center;
	width: 50%;
	height : 100%;
	margin: 0 8% 0 2%;
	align-items: center;
}
#div3_li_content_center {
	height : 80%;
	width: 100%;
	margin: 0 auto;
}

#div3_3 {
	width: 100%;
	height: 40%;
	text-align: center;
	vertical-align: middle;
	padding-top: 2%;
}

#div3_3_title h1{
	color: #386778;
}

#div3_3_1 {
	height: 60%;
	width: 100%;
}


#div3_3_2 {
	height: 30%;
	width: 100%;
	display: flex;
	align-items: center;
}

#div3_3_2_right {
	margin : 0 auto;
	display : inline-block;
	float : left;
	width : 50%;
	height: 100%;
}
#div3_3_2_right img{
	margin : 0 auto;
	display : inline-block;
	height: 100%;
	width: 80%;
	border-radius: 10px/10px;
}

#div3_3_2_left {
	color: #386778;
	float : left;
	margin : 0 auto;
	display : inline-block;
	width : 50%;
	height: 100%;
}



@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* 리모컨 */
.floating_btn { 
	position: absolute; 
	right: 50%; 
	top : 70%;
	right : 50px;
	text-align:center; 
	width: 50px;
	height: 250px;
	border: 0.5px #CCCCCC solid;
	background: linear-gradient( 45deg, #6E6E6E, #CCCCCC );
	border-radius: 10px / 10px;
	padding-bottom: 5px;
}
.floating_btn_img {
	margin : 5px 0px 5px 0px;
	display : inline-block;
	background: linear-gradient( 45deg, #f0f0f0, #F2F2F2 );
	width: 80%;
	height: 30px;
	padding-top: 5px;
	border: 0.3px #f0f0f0 solid;
	border-radius: 10px / 10px;
}
.floating_btn img {
	width: 60%;
	height: 65%;
}
.floating_btn p {
	font-size : 7px;
	color : #E3E3E3;
}
.floating_btn #floating_title{
	color: black;
}



